* {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    border: 1px red solid;
}
.swatches {
    display: inline-block;
}

/* easier to add padding and then center text than having left aligned text and dealing with adding horo padding to all headings and all swatches to stay aligned.*/
.colorDisplay {
    height:100px;
    font-family:'Roboto Mono';
    padding: 0px 10px;
    text-align: center;
    width: 20%;
    min-width: 50px;
}

.color1 {
    background-color:yellow;
}

.color2 {
    background-color:peachpuff;
}

.color3 {
    background-color:honeydew;
}

.color4 {
    background-color:plum;
}


h1 {
    font-family:Merriweather;
    margin: 20px 0px;
}

/* direct descendants would solve a few things! except you can't wantonly change html. */
body > h1 {
    padding : 0px 40px;
}    


h2 {
    margin: 10px 0px;
    font-family:'PT Sans';
}

h3 {
    margin: 5px 0px;
    font-family:'PT Sans';

}

p {
    text-align: left;
    font-family: 'Roboto Mono';
    margin: 10px 0px
}

li {
    font-family: 'Roboto Mono';
}

.swatches li {
    list-style: none;
    text-align: left;
}

.fontDisplay {
    width:40%;
}

.fontDisplay p:nth-of-type(2){
    font-weight: 700;

}

.fontDisplay p:nth-of-type(3){
    font-style: italic;
}


.fontDisplay.first p {
    font-family:Merriweather;
}
/* create classes first, second and third only to use them as selectors in chains. descriptive, doesnt generate css rules 
easier than using lots of nth-of-type which can be ambiguous. although might be simpler to do inline html.
fonts div:nth-child(n) isn't specific enough to override p {}, so I can't define font-family in p and am having to define it in every context p exists. 
this would lead to a lot of extra code! might be easier to specify .fontDisplay.first p { font-family:}
*/

/* inefficient code.
.fonts div:nth-child(1){
    font-family:Merriweather;
}

.fonts div:nth-child(2){
    font-family:'PT Sans';
}

.fonts div:nth-child(3){
    font-family:'Roboto Mono';
}
*/
.fontDisplay.first p {
    font-family:Merriweather;
}

.fontDisplay.second p {
    font-family:'PT Sans';
}

.fontDisplay.third p {
    font-family:'Roboto Mono';
}

.fontDisplay.first h3 {
    font-family:Merriweather;
    text-decoration: underline;
}

.fontDisplay.second h3 {
    font-family:'PT Sans';
    text-decoration: underline;
}

.fontDisplay.third h3 {
    font-family:'Roboto Mono';
    text-decoration: underline;
}

.textStyles .swatches {
    width: 20%;
    min-width: 50px;
}

section {
    border:1px gray solid;
    padding: 10px 10px;
    width: 85%;
    position: relative;
    left: 40px;

}